<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../frontoffice/css/aaaaa.css">
    <title>CRAFTOPIA</title>
</head>
<body>
    <nav>
        <center>
            <a href="acceuil.html">Acceuil</a>
            <a href="prduit.htm">Produit</a>
            <a href="evenement.html">Evenement</a>
            <a href="reclamation.html">Reclamation</a>
            <a href="cour">Cour</a>
            <a href="logout.php">Log Out</a> 
        </center>
    </nav>
    
    <section class="section-bg section-padding">
        <h1 class="cd-headline rotate-1">
          <span>Bienvenue à </span>
          <span class="cd-words-wrapper">
            <b class="animate-craftopia">CRAFTOPIA</b>
            <b>la culture tunisienne</b>
            <b>l'artisanat durable</b>
          </span>
        </h1>
        <p>
          Découvrez des trésors artisanaux, entrez en contact avec des artisans qualifiés,
          et soutenez l'artisanat durable.
        </p>
        <a href="choix.html" class="custom-btn">S'inscrire</a>
        <a href="reclamation.html" class="custom-border-btn">Faire une Réclamation</a>

        <br>
        <br>
        <br>
        
        <img src="../frontoffice/img/th.jpg" alt="New Image">
        <hr>

        <section class="about-section">

            <!-- Ligne 1 : 2 membres -->
            <div class="row">
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="../frontoffice/img/img1.jpg" alt="Member 1" class="member-block-image">
                    </div>
                    <div class="member-block-info">
                        <h4><a href="https://www.facebook.com/houssem.chelbi.77" target="_blank">Houssem Chelbi</a></h4>
                        <p>Responsable des événements</p>
                    </div>
                </div>
    
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="../frontoffice/img/img2.jpg" alt="Member 2" class="member-block-image">
                    </div>
                    <div class="member-block-info">
                        <h4><a href="https://www.facebook.com/yasmine.benattia.359" target="_blank">Yassmine Ben Attia </a></h4>
                        <p>Responsable des produits</p>
                    </div>
                </div>
            </div>
    
            <!-- Ligne 2 : Admin -->
            <div class="member-block">
                <div class="member-block-image-wrap">
                    <img src="../frontoffice/img/taswirti.jpg" alt="Omar Bouhouch" class="member-block-image">
                </div>
                <div class="member-block-info">
                    <h4><a href="https://www.facebook.com/omar.bouhouch.12" target="_blank">Omar Bouhouch</a></h4>
                    <p>Admin</p>
                </div>
            </div>
    
            <!-- Ligne 3 : 2 membres -->
            <div class="row">
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="../frontoffice/img/img3.jpg" alt="Member 3" class="member-block-image">
                    </div>
                    <div class="member-block-info">
                        <h4><a href="https://www.facebook.com/profile.php?id=100038848699460" target="_blank">Mariem Mardessi</a></h4>
                        <p>Responsable des cours</p>
                    </div>
                </div>
    
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="../frontoffice/img/img4.jfif" alt="Member 4" class="member-block-image">
                    </div>
                    <div class="member-block-info">
                        <h4><a href="https://www.facebook.com/yassine.benomrane.758" target="_blank">Yassine Ben Omrane</a></h4>
                        <p>Responsable de messagerie</p>
                    </div>
                </div>
            </div>
    
        </section>
      


    <footer>
        <center>
            <h2>Qui sommes-nous?</h2>
            <p>CRAFTOPIA est une plateforme dédiée à la promotion de l'artisanat tunisien. Nous connectons les artisans locaux avec des passionnés de culture et de traditions, permettant à chacun de découvrir et d'acheter des produits uniques et faits à la main. 
            Soutenez l'artisanat durable et contribuez au développement de l'économie locale.</p>
            <p>&copy; 2024 CRAFTOPIA. Tous droits réservés.</p>

            <div class="footer-contact">
                <h2>Contactez-nous</h2>
                <p>Email: <a href="mailto:contact@craftopia.com">contact@craftopia.com</a></p>
                <p>Téléphone: +216 23 456 789</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/" target="_blank" class="social-btn">
                        <img src="../frontoffice/img/face.jfif" alt="Facebook">
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="social-btn">
                        <img src="../frontoffice/img/twit.jfif" alt="Twitter">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="social-btn">
                        <img src="../frontoffice/img/inst.jfif" alt="Instagram">
                    </a>
                    <a href="https://www.linkedin.com/" target="_blank" class="social-btn">
                        <img src="../frontoffice/img/lin.jfif" alt="LinkedIn">
                    </a>
                </div>
            </div>
        </center>
    </footer>
</body>
</html>