<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Divisée</title>
    <link rel="stylesheet" href="../frontoffice/css/c.css">
</head>
<body>
    <div class="left-section">
        <!-- Added phrase for Artisanat -->
        <p>Si vous êtes un artisan, cliquez ici</p>
        <a href="../frontoffice/addsignupart.php">S'inscrire comme Artisan</a>
    </div>
    <div class="right-section">
        <!-- Added phrase for Visiteur -->
        <p>Si vous êtes un client, cliquez ici</p>
        <a href="../frontoffice/addsignup.php">S'inscrire comme Client </a>
    </div>
</body>
</html>
